
body {
    background-color: #121212;
    color: #f0f0f0;
    font-family: sans-serif;
    padding: 20px;
}
input, button {
    margin: 10px;
    padding: 10px;
    background-color: #1e1e1e;
    color: white;
    border: 1px solid #333;
}
#scoreboard {
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    margin: 20px;
}
